{% extends 'layouts/base.html' %}

{% block head_title %}
{% endblock %}
{% block page_title %}
<h1>Sentiment Analysis Demo</h1>
{% endblock %}
{% block content %}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Sentiment Analysis Demo </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="" method="post">
        {% csrf_token %}
          {% if rating %}
            <div class="form-actions top">
            Predicted rating = {{ rating|floatformat:1 }}<br>
            Sentiment Class = {{sentimentClass}}
            </div>
            <div class="tree">
              <svg width="100%" height="500px">
                {{tree_svg|safe}}
              </svg>
            </div>
          {% endif %}
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label">Review</label>
                    {{form.review}}
                    <span class="help-block error"> {{ form.review.errors }} </span>
                </div>
                <div class="form-actions">
                    <div class="btn-set pull-right">
                        <button type="submit" class="btn green">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
