{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block head_title %}
{% endblock %}
{% block extra_head %}
<link href="{% static 'assets/pages/css/blog.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock%}

{% block page_title %}
<h1>Movie Detail</h1>
{% endblock %}

{% block content %}
<div class="blog-page blog-content-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="blog-single-content bordered blog-container">
                <div class="blog-single-head">
                    <h1 class="blog-single-head-title">{{movie.title}}</h1>
                    <div class="blog-single-head-date">
                        <span class="movie-stars" data-rating="{{movie.rating}}" data-num-stars="5" ></span>
                        <i class="icon-calendar font-blue"></i>
                        <a href="javascript:;">Released Year: {{movie.released_date}}</a>
                    </div>
                </div>
                <div class="blog-single-desc">
                    {{movie.description|safe}}
                </div>
                <div class="blog-single-foot">
                    <ul class="blog-post-tags">
                        {% for genre in movie.genre.all %}
                        <li class="uppercase">
                            <a href="javascript:;">{{genre}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="comments">
                {% if request.user.is_authenticated %}
                    <h3 class="sbold blog-comments-title">Leave A Review</h3>
                    <form action="." method="POST" >
                    {% csrf_token %}
                        <div class="form-group">
                            {{form.summary}}
                        </div>
                        <div class="form-group">
                            {{form.review}}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn blue uppercase btn-md sbold btn-block">Submit</button>
                        </div>
                    </form>
                {% endif %}
                    <h3 class="sbold blog-comments-title">Reviews</h3>
                    <div class="c-comment-list">
                    {% for review in reviews %}
                        <div class="media">
                            <div class="media-body" >
                                <h4 class="media-heading">
                                <span class="review-stars" data-rating="{{review.rating}}" data-num-stars="5" ></span> by
                                    <a href="{% url 'movie:profile' review.user.username  %}">{{review.user.username}}</a>
                                    <span class="c-date">{{review.created_at|timesince}}</span> ago
                                </h4>{{review.summary}} </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $.fn.stars = function() {
        return $(this).each(function() {
            var rating = $(this).data("rating");
            if ((rating%1) == 0){
                rating = Math.floor(rating)
            }

            var numStars = $(this).data("numStars");
            var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fa fa-star"></i>');
            var halfStar = ((rating%1) !== 0) ? '<i class="fa fa-star-half-empty"></i>': '';
            var noStar = new Array(Math.floor(numStars + 1 - rating)).join('<i class="fa fa-star-o"></i>');
            $(this).html(fullStar + halfStar + noStar);

        });
    }

    $('.review-stars').stars()
    $('.movie-stars').stars()
</script>
{% endblock %}
