{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block extra_style %}
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0px;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('{% static 'star.png' %}') 0 -16px;
}
{% endblock %}
{% block page_title %}
{% endblock %}
{% block content %}
{%for original in originals%}
{{original}}<br/>
{% endfor %}
{%for prediction in predictions%}
{{prediction}}<br/>
{% endfor %}


<span class="rating">
    <input type="radio" class="rating-input"
           id="rating-input-a-1-5" name="rating-input-a-1">
    <label for="rating-input-a-1-5" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-a-1-4" name="rating-input-a-1">
    <label for="rating-input-a-1-4" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-a-1-3" name="rating-input-a-1">
    <label for="rating-input-a-1-3" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-a-1-2" name="rating-input-a-1">
    <label for="rating-input-a-1-2" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-a-1-1" name="rating-input-a-1">
    <label for="rating-input-a-1-1" class="rating-star"></label>
</span>
<br/>
<span class="rating">
    <input type="radio" class="rating-input"
           id="rating-input-b-1-5" name="rating-input-b-2">
    <label for="rating-input-b-1-5" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-b-1-4" name="rating-input-b-2">
    <label for="rating-input-b-1-4" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-b-1-3" name="rating-input-b-2">
    <label for="rating-input-b-1-3" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-b-1-2" name="rating-input-b-2">
    <label for="rating-input-b-1-2" class="rating-star"></label>
    <input type="radio" class="rating-input"
           id="rating-input-b-1-1" name="rating-input-b-2">
    <label for="rating-input-b-1-1" class="rating-star"></label>
</span>
{% endblock %}

{% block extra_js%}
{% endblock %}
